:css
  body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:medium; text-align: center; padding: 4px }
  a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } 
  a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
  comment { display:none;  }

= link_to 'Back', :back, class: "h15 stepBtn previous btn btn-primary"
= wicked_pdf_image_tag "#{@domain_url}shivshakti_logo.png", :height => "230px", :width => "100%"  

- receiving_images = @customer_bill.resources.with_type('DOCUMENT::ATTACHMENT')
- if receiving_images.count > 0
  - if receiving_images.where(:media_content_type => "image/jpeg").count > 0
    .row.row10
      .col-xs-12
        .hr.h25
      .col-xs-12
        %h3
          = "Receiving Copy images"
      .col-xs-12
        .hr.h25
      - receiving_images.where(:media_content_type => "image/jpeg").each do |receiving_image|
        .col-xs-12
          = wicked_pdf_image_tag "#{Settings.system.domain}#{receiving_image.media.url(:medium)}", :class => "center123"