:css
  body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:medium; text-align: center; padding: 4px }
  a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } 
  a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
  comment { display:none;  }
- ist_time = Time.now.in_time_zone("Chennai")
- with_sign = @with_sign == "true"
= link_to 'Back', :back, class: "h15 stepBtn previous btn btn-primary"
= wicked_pdf_image_tag "#{@domain_url}shivshakti_logo.png", :height => "230px", :width => "100%"  

- subtotal = 0
- quntity = 0
- cgst = 0
- sgst = 0
- if @customer_bill.customer_bill_products.count > 0
  - subtotal = @customer_bill.customer_bill_products.pluck(:rate).inject(:+)
  - subtotal = subtotal + @customer_bill.loading_amount if @customer_bill.loading_amount.present?
  - quntity = @customer_bill.customer_bill_products.pluck(:quantity).compact.inject(:+) || 0
- cgst = (subtotal*@customer_bill.cgst/100).round(2) if @customer_bill.cgst
- sgst = (subtotal*@customer_bill.sgst/100).round(2) if @customer_bill.sgst
- total_gst_amount = cgst+sgst
- total_tax_amount = @customer_bill.total_amount - subtotal
%table{:border => "0", :cellspacing => "0"}
  %colgroup{:width => "71"}
  %colgroup{:width => "122"}
  %colgroup{:width => "90"}
  %colgroup{:width => "84"}
  %colgroup{:width => "6"}
  %colgroup{:width => "81"}
  %colgroup{:width => "120"}
  %colgroup{:width => "79"}
  %colgroup{:width => "100"}
  %colgroup{:width => "7"}
  %colgroup{:width => "105"}
  %colgroup{:width => "106"}
  %colgroup{:width => "87"}
  %colgroup{:width => "97"}
  %colgroup{:width => "129"}
  .col-xs-12
    %b 
      %font{:color => "#000000", :size => "5"}
        = "TAX INVOICE"
  %tr
    %td{:align => "center", :colspan => "10", :height => "25", :valign => "middle"}
      %i
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "center", :colspan => "5", :style => "border-bottom: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "3"} Original For Receipient
  %tr
    %td{:align => "left", :bgcolor => "#EBF1DE", :colspan => "9", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "4"} Details of Supplier
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "4"}
          %br/
    %td{:align => "left", :bgcolor => "#EBF1DE", :colspan => "5", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "4"} GSTIN : 24AHUPP1215B1ZN
  %tr
    %td{:align => "left", :colspan => "9", :height => "24", :style => "border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "4"} SHIV SHAKTI TRANSPORT CO.
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :face => "Times New Roman", :size => "4"}
        %br/
    %td{:align => "left", :bgcolor => "#EBF1DE", :colspan => "5", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "4"} PAN NO. : AHUPP1215B
  %tr
    %td{:align => "left", :colspan => "9", :height => "25", :style => "border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "4"} Address : 1, Ganshyam Park Society, S.P. Ring Road Circle, Asalali, Ahmedabad
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Country
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} State
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Code
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} City
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} City Pin
  %tr
    %td{:align => "center", :colspan => "9", :height => "27", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} India
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Gujarat
    %td{:align => "center", :sdnum => "1033;", :sdval => "24", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} 24
    %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Ahmedabad
    %td{:align => "center", :sdnum => "1033;", :sdval => "382427", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} 382427
  %tr
    %td{:align => "left", :height => "20", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "center", :valign => "middle"}
      %i
        %font{:color => "#000000"}
          %br/
  %tr
    %td{:align => "left", :bgcolor => "#FDEADA", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} (Billed to)
    %td{:align => "left", :bgcolor => "#FDEADA", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :bgcolor => "#FDEADA", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :bgcolor => "#FDEADA", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FDEADA", :colspan=>"3", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} (Shipped to)
    %td{:align => "left", :bgcolor => "#FDEADA", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :bgcolor => "#EBF1DE", :colspan => "5", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Invoice Details : -
  %tr
    %td{:align => "left", :height => "41", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Name :
    %td{:align => "left", :colspan => "3", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:face => "Times New Roman"}
          = @customer_bill.customer.b_name
          %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Name :
    %td{:align => "left", :colspan => "3", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:face => "Times New Roman"}
          = @customer_bill.customer.s_name
          %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Invoice Type
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} SERVICE
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#FFFFFF"} 000002
  %tr
    %td{:align => "left", :height => "30", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Address :
    %td{:align => "left", :colspan => "3",:rowspan => "3", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.b_address
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Address :
    %td{:align => "left", :colspan => "3", :rowspan => "3", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.s_address
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Invoice No
    %td{:align => "left", :colspan=>"2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.invoice_number
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "", :rowspan => "3", :style => "border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Invoice Date
    %td{:align => "left", :colspan => "2", :sdnum => "1033;0;DD/MM/YYYY", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.invoice_date.to_datetime.to_s(:default_date)
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Vendor Code
    %td{:align => "left", :colspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.vendor_code
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} City
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 
        = @customer_bill.customer.b_city
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} PIN
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.b_pin_code
        %br/
    
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} City
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.s_city
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} PIN
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.s_pin_code
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} P.O. No.
    %td{:align => "left", :colspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.po_number
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} State
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 
        = @customer_bill.customer.b_state
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Code
    %td{:align => "left", :bgcolor => "", :sdnum => "1033;", :sdval => "24", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 
        = @customer_bill.customer.b_state_code
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} State
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.s_state
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Code
    %td{:align => "left", :sdnum => "1033;", :sdval => "24", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 
        = @customer_bill.customer.s_state_code
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} L.R. No
    %td{:align => "left", :colspan => "2", :sdnum => "1033;0;DD/MM/YYYY", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.lr_number
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Country
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.b_country
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} Country
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer.s_country
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = "L.R. Dt."
    %td{:align => "left", :colspan => 2, :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; text-align: left;", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.lr_date.to_datetime.to_s(:default_date)
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "30", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} GSTIN
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; min-width: 180px", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "3"}
          = @customer_bill.customer.b_gst_number
          %br/
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} GSTIN
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; min-width: 180px", :valign => "middle"}
      %b
        %font{:color => "#000000", :face => "Times New Roman", :size => "3"}
          = @customer_bill.customer.s_gst_number
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = "Vehical No."
    %td{:align => "left", :sdnum => "1033;0;DD/MM/YYYY", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = @customer_bill.customer_bill_products.pluck(:vehical_number).join(",")
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :height => "24", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "center", :height => "46", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          Sr.
          %br>/
          No.
    %td{:align => "center", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Ref. Invoice No.
    %td{:align => "left", :colspan => "8", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Description of Goods/Services
    %td{:align => "left", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} HSN/SAC Code
    %td{:align => "center", :rowspan => "2", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} UOM
    %td{:align => "center", :rowspan => "2", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} QTY/Unit
    %td{:align => "center", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Rate
    %td{:align => "center", :rowspan => "2", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Total Value (Rs.)
  %tr
  - count = 0 
  - if @customer_bill.customer_bill_products.count > 0
    - count = @customer_bill.customer_bill_products.count
    - @customer_bill.customer_bill_products.each_with_index do |bill,idx|
      %tr
        - number = idx+1
        %td{:align => "center", :height => "29", :sdnum => "1033;", :sdval => "1", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"} 
            = number
        %td{:align => "center", :bgcolor => "", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            - if bill.ref_invoice_number.include? "OF" 
              - arr = bill.ref_invoice_number.split("OF")
              = arr[0]
              %br/
              = "OF" + arr[1]
            - else
              = bill.ref_invoice_number
            %br/
        %td{:align => "left", :colspan => "7", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            - a = number == 1 ? "GOODS AND TRANSPORT AGENCY SERVICE BY ROAD </br>".html_safe : ""
            - b = bill.from.present? ? "FROM #{bill.from} " : ""
            - c = bill.to.present? ? "TO #{bill.to} " : ""
            / - d = bill.vehical_number.present? ? "Vehical Number: #{bill.vehical_number}" : ""
            = a+b+c
        %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            %br/
        %td{:align => "center", :sdnum => "1033;", :sdval => "996511", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            = 996511 if number == 1
        %td{:align => "center", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            %br/
        %td{:align => "center", :bgcolor => "", :sdnum => "1033;", :sdval => "1", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            = bill.quantity.to_i
        %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            %br/
        %td{:align => "right", :bgcolor => "", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
          %font{:color => "#000000", :size => "3"}
            = bill.rate
  - (3-count).times do |i|
    %tr
      %td{:align => "center", :height => "29", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "center", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
  - if @customer_bill.loading_text.present? || @customer_bill.loading_amount.present?
    %tr
      %td{:align => "center", :height => "29", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "center", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :colspan => 2, :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; text-align: left", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          = @customer_bill.loading_text
      %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          %br/
      %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
        %font{:color => "#000000", :size => "3"}
          = @customer_bill.loading_amount
  %tr
    %td{:align => "left", :bgcolor => "#FFFF00", :height => "29", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Subtotal
    %td{:align => "left", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "1", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          = quntity
    %td{:align => "left", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          = subtotal
  %tr
    %td{:align => "center", :height => "205", :rowspan => "6", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          HSN / SAC
          %br/
          = succeed "CODE" do
            %br/
          %br/
          = succeed "SUMMARY" do
            %br/
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} HSN/SAC Code
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Tax Rate
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Qty
    %td{:align => "center", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "center", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Taxable Value
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Tax Value
    %td{:align => "center", :colspan => "2", :rowspan => "2", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "center", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Value
    %td{:align => "center", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "center", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
  %tr
    %td{:align => "center", :sdnum => "1033;", :sdval => "996511", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 996511
    %td{:align => "right", :sdnum => "1033;0;0%", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = "#{(@customer_bill.cgst || 0.00) + (@customer_bill.sgst || 0.00)}%"
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "1", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = quntity
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        / = @customer_bill.total_amount
        = subtotal
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = total_gst_amount == 0 ? "-" : total_gst_amount
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;0.00%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
  %tr
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;0%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00",:colspan=>6, :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} TOTAL TAXABLE AMOUNT
    %td{:align => "right", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          = subtotal
  %tr
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;0%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "center", :colspan => "2", :rowspan => "4", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} TAXES
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} IGST
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;0.00%", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 0.00%
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} -
  %tr
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;0%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} CGST
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;0.00%", :sdval => "0.025", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = "#{@customer_bill.cgst || 0.00}%"
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = cgst == 0 ? "-" : cgst
  %tr
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;0%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} SGST
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;0.00%", :sdval => "0.025", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = "#{@customer_bill.sgst || 0.00}%"
    %td{:align => "left", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        = sgst == 0 ? "-" : sgst
  %tr
    %td{:align => "left", :height => "29", :style => "border-left: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Total
    %td{:align => "left", :sdnum => "1033;0;0%", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "1", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          = quntity
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          /= @customer_bill.total_amount
          = subtotal
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0_);_(* \\(#,##0\\);_(* -??_);_(@_)", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          = total_gst_amount
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} UTGST
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :sdnum => "1033;0;0.00%", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} 0.00%
    %td{:align => "right", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "0", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"} -
  %tr
    %td{:align => "left", :height => "29", :style => "border-left: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "3"}
        %br/
    %td{:align => "left", :bgcolor => "#FFFF00", :colspan => 5, :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} TOTAL TAX AMOUNT
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "0", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
        = total_gst_amount == 0 ? "-" : total_gst_amount
  %tr
    %td{:align => "center", :height => "54", :rowspan => "2", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Invoice Value (Inwords) :
    %td{:align => "center", :colspan=>"7", :rowspan => "2",  :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
      = number_to_currency_in_words(@customer_bill.total_amount, currency: :rupee).upcase

    %td{:align => "left", :bgcolor => "#FFFF00", :colspan => 5,:style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} TOTAL INVOICE VALUE
    %td{:align => "left", :bgcolor => "#FFFF00", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
    %td{:align => "right", :bgcolor => "#FFFF00", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :sdval => "12500", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} 
          = @customer_bill.total_amount
  %tr
    %td{:align => "center", :colspan => "7", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"}
          %br/
  %tr
    %td{:align => "left", :colspan => "15", :height => "32", :style => "border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "4"} REMARKS : GST IS PAYABLE UNDER RCM
  %tr
    %td{:align => "left", :bgcolor => "#FFFF00", :height => "19", :colspan => "2", :style => "border-top: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %b
        %i
          %font{:color => "#000000", :size => "5"}
            %u Our Bank Details
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-top: 1px solid #000000", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left",:rowspan => "3",:colspan => "3", :style => "border-top: 1px solid #000000; text-align: left", :valign => "middle"}
      %font{:color => "#000000"}
        = "Digitally signed by </br> Rajan Patel </br> #{ist_time.strftime("%Y.%m.%d")} </br> #{ist_time.strftime("%T %:z")}".html_safe if with_sign
    %td{:align => "center", :colspan => "4", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "4"} 
          = "For Shiv Shakti Transport Co." unless with_sign
  %tr
    %td{:align => "left", :bgcolor => "#FFFF00", :height => "20", :colspan => "2", :style => "border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %i
        %font{:color => "#000000", :size => "4"}
          %b
            = "HDFC Bank Vatva Br"
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    / %td{:align => "left", :valign => "middle"}
    /   %font{:color => "#000000"}
    /     %br/
    / %td{:align => "left", :valign => "middle"}
    /   %font{:color => "#000000"}
    /     %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle", :style => ""}
      %font{:color => "#000000", :size => "5"}
        %br/
    %td{:align => "left", :valign => "middle", :style => ""}
      %font{:color => "#000000", :size => "5"}
        %br/
    %td{:align => "left", :valign => "middle", :colspan => 2, :style => "text-align: right"}
      %font{:color => "#000000", :size => "5"}
        = "Rajan Patel" if with_sign

    %td{:align => "center", :colspan => "4", :rowspan => "2", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-right: 1px solid #000000", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "4"}
          = wicked_pdf_image_tag "#{@domain_url}signature.png", :height => "100px", :width => "150px" unless with_sign || @without_image == "true"
  %tr
    %td{:align => "left", :bgcolor => "#FFFF00", :height => "25", :colspan => "2", :style => "border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %i
        %font{:color => "#000000", :size => "4"}
          %b
            = "A/c No. 50200009679313"
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :valign => "middle"}
      %font{:color => "#000000", :size => "4"}
        %br/
    %td{:align => "left", :valign => "bottom"}
      %font{:color => "#000000"}
        %br/
  %tr
    %td{:align => "left", :bgcolor => "#FFFF00", :height => "28", :colspan => "2", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-bottom: 1px solid #000000; border-left: 1px solid #000000; text-align: left;", :valign => "middle"}
      %i
        %font{:color => "#000000", :size => "4"}
          %b
            = "IFSC Code : HDFC 0000971"
    %td{:align => "left", :style => "border-bottom: 1px solid #000000;", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-bottom: 1px solid #000000;", :valign => "middle"}
      %font{:color => "#000000"}
        %br/
    %td{:align => "left", :style => "border-bottom: 1px solid #000000;", :colspan=>7, :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "3"} Subject to Ahmedabd, Gujarat Jurisdiction
    %td{:align => "center", :colspan => "4", :sdnum => "1033;0;_(* #,##0.00_);_(* \\(#,##0.00\\);_(* -??_);_(@_)", :style => "border-right: 1px solid #000000; border-bottom: 1px solid #000000;", :valign => "middle"}
      %b
        %font{:color => "#000000", :size => "4"} 
          = "Proprietor" unless with_sign