.col-xs-12.col-sm-6.col-md-4.col-10
  .rxBox
    .rxHeader
      .rxTitle= provider.name
    .rxContent
      .row.row5
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Person name"
            .rxValue= provider.person_name.present? ? provider.person_name : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "City"
            .rxValue= provider.city.present? ? provider.city.name : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Mobile number 1"
            .rxValue= provider.mobile_number1.present? ? provider.mobile_number1 : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Mobile number 2"
            .rxValue= provider.mobile_number2.present? ? provider.mobile_number2 : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "GST Number"
            .rxValue= provider.gst_number.present? ? provider.gst_number : '-'
    .rxBottom
      %a.rxNextBtn{:href => provider_path(provider) }
        = t("provider.open_card")
        %i.fa.fa-angle-double-right