.col-xs-12.col-sm-6.col-md-4.col-10
  .rxBox
    .rxHeader
      .rxTitle= provider.name
      .rxLogo
        = image_tag "provider_register.png"
    .rxContent
      .row.row5
        .col-xs-12.col-sm-6
          .rxDesc
            %span= t('provider.name')
            .rxValue= provider.name
        .col-xs-12.col-sm-6
          .rxDesc
            %span= t('provider.person_name')
            .rxValue= provider.person_name                  
        .col-xs-12
          .rxDesc
            %span= t('provider.mobile_number1')
            .rxValue= provider.mobile_number1
        .col-xs-12
          .rxDesc
            %span= t('provider.mobile_number2')
            .rxValue= provider.mobile_number2
        .col-xs-12.col-sm-6
          .rxDesc
            %span= t('provider.gst_number')
            .rxValue= provider.gst_number
    .rxBottom
      %a.rxNextBtn{:href => provider_path(provider) }
        = t("provider.open_card")
        %i.fa.fa-angle-double-right