.container
  .row
    .col-xs-12#registration-form
      %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td#stepBtnHeight.leftCol{:width => "80%"}
              .formBox.view-details
                .formHeader.clearfix
                  %h1
                    = "Supplier card"

                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = t('provider.name')
                      %label.label-value= @provider.name
                    .card-row
                      %label.label-view
                        %span= t('user.person_name')
                      %label.label-value= @provider.person_name.present? ? @provider.person_name : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.mobile_number 1')
                      %label.label-value= @provider.mobile_number1.present? ? @provider.mobile_number1 : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.mobile_number 2')
                      %label.label-value= @provider.mobile_number2.present? ? @provider.mobile_number2 : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.gst_number')
                      %label.label-value= @provider.gst_number.present? ? @provider.gst_number : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.address')
                      %label.label-value= @provider.address.present? ? @provider.address : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.city')
                      %label.label-value= @provider.city.present? ? @provider.city.name : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.area')
                      %label.label-value= @provider.area.present? ? @provider.area.name : '-'
          %td.stepBtnGroup{:width => "20%"}
            %a.h15.stepBtn.backBtn{:href => providers_path}
              %span= t("form_action_button.return_button")
              = image_tag "back_btn.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{:href => edit_provider_path(@provider, :step => 1), :action => :open_card_param }
              %span= t("form_action_button.edit_basic_information")
              = image_tag "save_and_next_btn.png", :class => "mt15"