.col-xs-12.col-sm-6.col-md-4.col-10
  .rxBox
    .rxHeader
      .rxTitle= customer.name
    .rxContent
      .row.row5
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "City"
            .rxValue= customer.city.present? ? customer.city.name : '-'      
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Area"
            .rxValue= customer.area.present? ? customer.area.name : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Mobile number 1"
            .rxValue= customer.mobile_number1.present? ? customer.mobile_number1 : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "Mobile number 2"
            .rxValue= customer.mobile_number2.present? ? customer.mobile_number2 : '-'
        .col-xs-12.col-sm-6
          .rxDesc
            %span= "GST Number"
            .rxValue= customer.gst_number.present? ? customer.gst_number : '-'
    .rxBottom
      .row
        .col-xs-12.col-sm-7.pb5
          %a.rxNextBtn{:href => customer_path(customer) }
            = t("customer.open_card")
            %i.fa.fa-angle-double-right
        .col-xs-12.col-sm-5.pb5
          %a.rxNextBtn{:href => customer_bills_path(:bill_customer => customer.id) }
            = "Bills"
            %i.fa.fa-angle-double-right        