.scroll.row.row-10
  .col-xs-12.col-sm-6.col-md-4.col-10
    %a.rxBox.addNew{:href => new_customer_path}
      .rxImage
        = image_tag "add_dark.png"
      .rxBottom
        .rxAddNewBtn
          %i.fa.fa-plus-circle
          = "Register customer"
  - if @customers.present?
    - @customers.each do |customer|
      = render :partial => 'customer', :locals => {customer: customer}
    - if @customers.count > Settings.system.per_page
      = link_to next_users_customers_path(2), :remote => true, :class => "loadMore jscroll-next" do
        %i.downArrow
        = t("general.next")
  - else
    .col-xs-12.col-sm-6.col-md-4.col-10.alert.alert-warning
      %span= t('general.no_record_found')