= form_for(@customer, :url => (@customer.new_record? ? customers_path : customer_path(@customer)), :method => (@customer.new_record? ? "POST" : "PUT"), :html => {:multipart => true, :id => 'register-customer'}) do |f|
  = hidden_field_tag 'step', @step
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = "Register customer"
            .row
              .col-xs-12.col-sm-6
                = hidden_field_tag 'step', '1'
                #name.form-group
                  = f.text_field :name, :class => "form-control",:placeholder => "Full Name"
                  - if @customer.errors[:name].any?
                    %span.text-error.text-message= @customer.errors[:name].first
                #address1.form-group
                  = f.text_field :address1, :class => "form-control", :placeholder => "Address 1"
                  - if @customer.errors[:address1].any?
                    %span.text-error.text-message= @customer.errors[:address1].first
                #address2.form-group
                  = f.text_field :address2, :class => "form-control", :placeholder => "Address 2"
                  - if @customer.errors[:address2].any?
                    %span.text-error.text-message= @customer.errors[:address2].first
                .row
                  .col-xs-12.col-sm-6
                    #city.form-group
                      = f.text_field :city, :value=>@customer.city.present? ? @customer.city : "AHMEDABAD", :class => "form-control", :placeholder => "City"
                  .col-xs-12.col-sm-6
                    #pin_code.form-group
                      = f.text_field :pin_code, :class => "form-control", :placeholder => "Pin code"
                .row
                  .col-xs-12.col-sm-6
                    #state.form-group
                      = f.text_field :state, :value=>@customer.state.present? ? @customer.state : "AHMEDABAD", :class => "form-control", :placeholder => "State"
                  .col-xs-12.col-sm-6
                    #state_code.form-group
                      = f.text_field :state_code, :value=>@customer.state_code.present? ? @customer.state_code : "24", :class => "form-control", :placeholder => "State code"
              .col-xs-12.col-sm-6
                #gst_number.form-group
                  = f.text_field :gst_number, :class => "form-control", :placeholder => "GST Number"
                #country.form-group
                  = f.text_field :country, :class => "form-control", :placeholder => "Country"
                #email.form-group
                  = f.text_field :email, :class => "form-control", :placeholder => "Email"
                #phone_number.form-group
                  = f.text_field :phone_number, :class => "form-control", :placeholder => "Phone number"

        %td.stepBtnGroup{:width => "20%"}
          - back_btn_href = @customer.new_record? ? customers_path : customer_path(@customer.id)
          %a.stepBtn.backBtn{:href => back_btn_href}
            %span
              =t("form_action_button.return_button")
            = image_tag "back_btn.png", :class => "mt15"
          %button.stepBtn.nextBtn#saveMediaNext{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.save_and_next_button")
            = image_tag "save_and_next_btn.png", :class => "mt15"

