= form_for(@customer, :url => (@customer.new_record? ? customers_path : customer_path(@customer)), :method => (@customer.new_record? ? "POST" : "PUT"), :html => {:multipart => true, :id => 'register-customer'}) do |f|
  = hidden_field_tag 'step', @step
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = "Register customer"
            .row
              .col-xs-12
            .row
              .col-xs-12.col-sm-6
                = hidden_field_tag 'step', '1'
                #b_name.form-group
                  = f.text_field :b_name, :class => "form-control",:placeholder => "Full Name"
                  - if @customer.errors[:name].any?
                    %span.text-error.text-message= @customer.errors[:name].first
                #address1.form-group
                  = f.text_area :b_address, :class => "form-control", :placeholder => "Billing address"
                  - if @customer.errors[:b_address].any?
                    %span.text-error.text-message= @customer.errors[:b_address].first
                .row
                  .col-xs-12.col-sm-6
                    #city.form-group
                      = f.text_field :b_city, :value=> @customer.b_city.present? ? @customer.b_city : "AHMEDABAD", :class => "form-control", :placeholder => "Billing city"
                  .col-xs-12.col-sm-6
                    #pin_code.form-group
                      = f.text_field :b_pin_code, :class => "form-control", :placeholder => "Billing pin code"
                .row
                  .col-xs-12.col-sm-6
                    #the-basics.form-group
                      = f.text_field :b_state, :value=>@customer.b_state.present? ? @customer.b_state : "GUJARAT1", :class => "form-control typeahead", :placeholder => "Billing state"
                  .col-xs-12.col-sm-6
                    #state_code.form-group
                      = f.text_field :b_state_code, :value=>@customer.b_state_code.present? ? @customer.b_state_code : "24", :class => "form-control", :placeholder => "Billing state code"
                #country.form-group
                  = f.text_field :b_country, :value=> @customer.b_country.present? ? @customer.b_country : "INDIA", :class => "form-control", :placeholder => "Billing country"
                #b_gst_number.form-group
                  = f.text_field :b_gst_number, :class => "form-control", :placeholder => "GST number"
                #ref_customer.form-group
                  = f.text_field :ref_customer, :class => "form-control",:placeholder => "Ref Customer"
                #country.form-group
                  %label.checkBox{:id => "is_shipping_#{@customer.id}", :class => "is_shipping"}
                    = f.check_box :is_shipping, :class => "form-control"
                    %span.lbl
                      = "Is billing address same as shipping address ?"
              .col-xs-12.col-sm-6
                #s_name.form-group
                  = f.text_field :s_name, :class => "form-control",:placeholder => "Full Name"
                  - if @customer.errors[:name].any?
                    %span.text-error.text-message= @customer.errors[:name].first
                #address1.form-group
                  = f.text_area :s_address, :class => "form-control", :placeholder => "Shipping address"
                  - if @customer.errors[:s_address].any?
                    %span.text-error.text-message= @customer.errors[:s_address].first
                .row
                  .col-xs-12.col-sm-6
                    #city.form-group
                      = f.text_field :s_city, :value=> @customer.s_city.present? ? @customer.s_city : "AHMEDABAD", :class => "form-control", :placeholder => "Shipping city"
                  .col-xs-12.col-sm-6
                    #pin_code.form-group
                      = f.text_field :s_pin_code, :class => "form-control", :placeholder => "Shipping pin code"
                .row
                  .col-xs-12.col-sm-6
                    #state.form-group
                      = f.text_field :s_state, :value=>@customer.s_state.present? ? @customer.s_state : "GUJARAT", :class => "form-control", :placeholder => "Shipping state"
                  .col-xs-12.col-sm-6
                    #state_code.form-group
                      = f.text_field :s_state_code, :value=>@customer.s_state_code.present? ? @customer.s_state_code : "24", :class => "form-control", :placeholder => "Shipping state code"
                #country.form-group
                  = f.text_field :s_country, :value=> @customer.s_country.present? ? @customer.s_country : "INDIA", :class => "form-control", :placeholder => "Shipping country"
                #s_gst_number.form-group
                  = f.text_field :s_gst_number, :class => "form-control", :placeholder => "GST number"
                .btn.btn-primary.btn-md.right#clear_shipping
                  = "Clear Shipping Details"
                  

        %td.stepBtnGroup{:width => "20%"}
          - back_btn_href = @customer.new_record? ? customers_path : customer_path(@customer.id)
          %a.stepBtn.backBtn{:href => back_btn_href}
            %span
              =t("form_action_button.return_button")
            = image_tag "back_btn.png", :class => "mt15"
          %button.stepBtn.nextBtn#saveMediaNext{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.save_and_next_button")
            = image_tag "save_and_next_btn.png", :class => "mt15"


:css

  .typeahead:focus {
    border: 2px solid #0097cf;
  }

  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999
  }

  .tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
  }

  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

  }

  .tt-suggestion p {
    margin: 0;
  }

  .gist {
    font-size: 14px;
  }