.container
  .row
    .col-xs-12#registration-form
      %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td#stepBtnHeight.leftCol{:width => "80%"}
              .formBox.view-details
                .formHeader.clearfix
                  %h1
                    = "Customer card"
                .row.row10
                  .col-xs-12
                    %h3
                      = "Billing Address"
                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = t('customer.name')
                      %label.label-value= @customer.b_name
                    .card-row
                      %label.label-view
                        %span= t('user.address')
                      %label.label-value= @customer.b_address.present? ? @customer.b_address : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.city')
                      %label.label-value= @customer.b_city.present? ? @customer.b_city : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.state')
                      %label.label-value= @customer.b_state.present? ? @customer.b_state : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.state_code')
                      %label.label-value= @customer.b_state_code.present? ? @customer.b_state_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.pin_code')
                      %label.label-value= @customer.b_pin_code.present? ? @customer.b_pin_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.country')
                      %label.label-value= @customer.b_country.present? ? @customer.b_country : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.gst_number')
                      %label.label-value= @customer.b_gst_number.present? ? @customer.b_gst_number : '-'
                
                - unless @customer.is_shipping
                  .row.row10
                    .col-xs-12
                      %h3
                        = "Shipping Address"
                  .row.row10
                    .col-xs-12.col-md-6
                      .card-row
                        %label.label-view
                          %span
                            = t('customer.name')
                        %label.label-value= @customer.s_name
                      .card-row
                        %label.label-view
                          %span= t('user.address')
                        %label.label-value= @customer.s_address.present? ? @customer.s_address : '-'
                      .card-row
                        %label.label-view
                          %span= t('user.city')
                        %label.label-value= @customer.s_city.present? ? @customer.s_city : '-'
                      .card-row
                        %label.label-view
                          %span= t('user.state')
                        %label.label-value= @customer.s_state.present? ? @customer.s_state : '-'
                    .col-xs-12.col-md-6
                      .card-row
                        %label.label-view
                          %span= t('user.state_code')
                        %label.label-value= @customer.s_state_code.present? ? @customer.s_state_code : '-'
                      .card-row
                        %label.label-view
                          %span= t('user.pin_code')
                        %label.label-value= @customer.s_pin_code.present? ? @customer.s_pin_code : '-'
                      .card-row
                        %label.label-view
                          %span= t('user.country')
                        %label.label-value= @customer.s_country.present? ? @customer.s_country : '-'
                      .card-row
                        %label.label-view
                          %span= t('user.gst_number')
                        %label.label-value= @customer.s_gst_number.present? ? @customer.gst_number : '-'

          %td.stepBtnGroup{:width => "20%"}
            %a.h15.stepBtn.backBtn{:href => customers_path}
              %span= t("form_action_button.return_button")
              = image_tag "back_btn.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{:href => edit_customer_path(@customer, :step => 1), :action => :open_card_param }
              %span= t("form_action_button.edit_basic_information")
              = image_tag "save_and_next_btn.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{:href => customer_path, "data-method" => :delete, data: { confirm: 'Are you sure?' }}
              %span= t("form_action_button.delete")
              = image_tag "btn_discard.png", :class => "mt15"