.scroll.row.row-10
  .col-xs-12.col-sm-6.col-md-4.col-10
    %a.rxBox.addNew{:href => new_balance_sheet_path}
      .rxImage
        = image_tag "add_dark.png"
      .rxBottom
        .rxAddNewBtn
          %i.fa.fa-plus-circle
          = t("balance_sheet.register_balance_sheet")
  - if @balance_sheets.present?
    - @balance_sheets.each do |balance_sheet|
      = render :partial => 'balance_sheet', :locals => {balance_sheet: balance_sheet}
    - if @balance_sheets.count > Settings.system.per_page
      = link_to next_balance_sheets_path(2), :remote => true, :class => "loadMore jscroll-next" do
        %i.downArrow
        = t("general.next")
  - else
    .col-xs-12.col-sm-6.col-md-4.col-10.alert.alert-warning
      %span= t('general.no_record_found')