.row
  - unless session[:user_role]
    .col-xs-12
      .form-group
        - if object.errors[:base].any?
          %span.text-error.text-message
            = object.errors[:base].first
        - if object.errors[:clinic_users].any?
          - if object.errors.messages.any?
            - if object.errors.messages[:"clinic_users.clinic"].present?
              %span.text-error.text-message= t("dentist.errors.please_choose_clinic")
            - else
              %span.text-error.text-message= object.errors.messages[:"clinic_users.user"][0]
      #dentist_working_areas
        .formTitle.form-group
          = t('dentist.working_places')                   
        - @relationship_types = ClinicUser.relationship_types
        = f.fields_for :clinic_users do |clinic_user|
          = render 'shared/user_registration/dentist/clinic_user_fields', f: clinic_user
        .form-group.pt15
          %label
            = link_to_add_association f, :clinic_users, partial: 'shared/user_registration/dentist/clinic_user_fields', :class => "addLink" do
              %i.addIcon.addWorkingClinic
              = t('dentist.add_new_working_place')
  .col-xs-6
    .form-group.formTitle
      = t('dentist.speciality') 
    .form-group
      - selected_value = session[:user_role].present? ? session[:user_role] : object.profession
      = f.select :speciality, User.localize_speciality_values, {selected: selected_value}, :class => "form-control" 
  .col-xs-6
    .form-group.formTitle
      = t('executive.upload_certificates')
    .form-group
      = render :partial => "shared/upload_files", :locals => {:object => object, :type => 'User', :resource_type => 'DOCUMENT', :resource_spec => 'LKV_CERTIFICATE', :title => t("executive.add_certificate"), :index => 0}
.form-group.formTitle
  = t('executive.upload_photos')
.col-xs-12
  .row
    = render :partial => "shared/upload_photo", :locals => {:object => object, :type => 'User', :resource_type => 'IMAGE', :resource_spec => 'USER_PHOTO', :user => user}
.col-xs-12
  .row
    .hr.hr25  
.row
  .col-xs-12.form-group
    .form-group.formTitle
      = t('executive.introduction_text')
      %div
        .add_introduction_text.mt10
          %a.addLink{href: 'javascript:void(0)'}
            %i.addIcon
            = t('executive.add_introduction_text')
    #introduction_text_area.hide
      = f.text_area :introduction, :class => "form-control", :cols => 6 , :rows => 1
  .col-xs-12
    = render :partial => "shared/user_registration/dentist/knowledge_skills", :locals => {:object => object, f: f}                                    