- if patient_per_month_value.length >= 4
  - patient_per_month_value.keys.each do |step|
    - step = step.split("_")[1]
    %tr{:class => "all_steps_#{clinic_user.id}", :id => "all_steps_#{clinic_user.id}_#{step}"}
      %td 
        .col-xs-12
          =t("dentist.incentive_type_per_month.step_count",:count => step)
      %td
        = text_field_tag "#{patient_per_month_type}[#{clinic_user.id}][step_#{step}][#{turnover_type}]",patient_per_month_value["step_#{step}"]["#{turnover_type}"],:class => "virtualKeyboard form-control text-center", :id => "#{turnover_type}_step_#{step}_#{clinic_user.id}", disabled: (clinic_user.incentive_type != "PER_MONTH")
      %td 
        = text_field_tag "#{patient_per_month_type}[#{clinic_user.id}][step_#{step}][#{reward_type}]",patient_per_month_value["step_#{step}"]["#{reward_type}"],:class => "virtualKeyboard form-control text-center", :id => "#{reward_type}_step_#{step}_#{clinic_user.id}", disabled: (clinic_user.incentive_type != "PER_MONTH")
- else
  - [1,2,3,4].each do |step|
    %tr
      %td 
        .col-xs-12
          =t("dentist.incentive_type_per_month.step_count",:count => step)
      %td
        = text_field_tag "#{patient_per_month_type}[#{clinic_user.id}][step_#{step}][#{turnover_type}]","",:class => "virtualKeyboard form-control text-center", :id => "#{turnover_type}_step_#{step}_#{clinic_user.id}", disabled: (clinic_user.incentive_type != "PER_MONTH")
      %td 
        = text_field_tag "#{patient_per_month_type}[#{clinic_user.id}][step_#{step}][#{reward_type}]","",:class => "virtualKeyboard form-control text-center", :id => "#{reward_type}_step_#{step}_#{clinic_user.id}", disabled: (clinic_user.incentive_type != "PER_MONTH")
