.row.pt15
  .col-xs-12
    .form-group.formTitle
      =t('dentist.payment_and_information.payment_rules')
  - unless clinic_user.EMPLOYEE_MODEL?      
    .col-xs-12
      .row.row5.row-inline.form-group
        .col-xs-12.col-sm-8.col-lg-6.pt12
          %label.radioBox{:id => "third_party_latest_day_radio_#{clinic_user.id}", :class => "third_party_latest_day"}
            = ff.radio_button :payment_rule_type, 'THIRD_PARTY'
            %span.lbl
              = t('dentist.payment_and_information.third_party_rule')              
        .col-xs-8.col-sm-2.col-lg-2
          = ff.text_field :third_party_latest_day, :class => "virtualKeyboard form-control w85", :id => "third_party_latest_day_#{clinic_user.id}", disabled: (clinic_user.payment_rule_type != "THIRD_PARTY")
    .col-xs-12
      .row.row5.row-inline.form-group
        .col-xs-12.col-sm-8.col-lg-6.pt12
          %label.radioBox{:id => "dentist_share_latest_day_radio_#{clinic_user.id}", :class => "dentist_share_latest_day", "data-target" => "#PaymentRuleModal_#{clinic_user.id}", "data-toggle" => "modal"}
            = ff.radio_button :payment_rule_type, 'DENTIST_SHARE'
            %span.lbl
              = t('dentist.payment_and_information.dentist_share_rule')
        .col-xs-8.col-sm-2.col-lg-2
          = ff.text_field :dentist_share_latest_day, :class => "virtualKeyboard form-control w85", :id => "dentist_share_latest_day_#{clinic_user.id}", disabled: (clinic_user.payment_rule_type != "DENTIST_SHARE")
        .col-xs-12.col-sm-8.col-lg-6.pt12
          %label.radioBox{:id => "clinics_share_latest_day_radio_#{clinic_user.id}", :class => "clinics_share_latest_day"}
            = ff.radio_button :payment_rule_type, 'CLINIC_SHARE'
            %span.lbl
              = t('dentist.payment_and_information.clinic_share_rule')
        .col-xs-12.col-sm-2.col-lg-2
          = ff.text_field :clinics_share_latest_day, :class => "virtualKeyboard form-control w85", :id => "clinics_share_latest_day_#{clinic_user.id}", disabled: (clinic_user.payment_rule_type != "CLINIC_SHARE")
  - else
    .col-xs-12
      .row.row5.row-inline.form-group
        .col-xs-12.col-sm-8.col-lg-6.pt12
          %label.radioBox{:id => "third_party_latest_day_radio_#{clinic_user.id}", :class => "third_party_latest_day"}
            = ff.radio_button :payment_rule_type, 'THIRD_PARTY'
            %span.lbl
              = t('dentist.payment_and_information.third_party_rule')              
        .col-xs-8.col-sm-2.col-lg-2
          = ff.text_field :third_party_latest_day, :class => "virtualKeyboard form-control w85", :id => "third_party_latest_day_#{clinic_user.id}", disabled: (clinic_user.payment_rule_type != "THIRD_PARTY")
  .col-xs-12
    .hr
  - unless clinic_user.EMPLOYEE_MODEL?
    .col-xs-12
      .row.row5.row-inline
        .form-group.formTitle
          =t('dentist.payment_and_information.base_for_rent')
    .col-xs-12
      #gender.form-group.row
        = ff.label  t("dentist.payment_and_information.rent_calculation_based"), :class => "normal col-xs-12 col-sm-2 col-lg-3"
        .col-xs-12.col-sm-8.col-lg-9
          %label.radioBox.radioInline
            = ff.radio_button :base_for_rent, 'VALUE_OF_WORK_DONE'
            %span.lbl= t("dentist.payment_and_information.value_of_work_done")
          %label.radioBox.radioInline
            = ff.radio_button :base_for_rent, 'VALUE_OF_INVOICED_WORK'
            %span.lbl= t("dentist.payment_and_information.value_of_invoiced_work")          
  - else
    .col-xs-12
      .row.row5.row-inline
        .form-group.formTitle
          =t('dentist.payment_and_information.base_for_reward')
    .col-xs-12
      #gender.form-group.row
        = ff.label  t("dentist.payment_and_information.reward_calculation_based"), :class => "normal col-xs-12 col-sm-2 col-lg-3"
        .col-xs-12.col-sm-8.col-lg-9
          %label.radioBox.radioInline
            = ff.radio_button :base_for_reward, 'VALUE_OF_WORK_DONE'
            %span.lbl= t("dentist.payment_and_information.value_of_work_done")
          %label.radioBox.radioInline
            = ff.radio_button :base_for_reward, 'VALUE_OF_INVOICED_WORK'
            %span.lbl= t("dentist.payment_and_information.value_of_invoiced_work")
  .col-xs-12
    .hr
  - unless clinic_user.EMPLOYEE_MODEL?
    .col-xs-12
      .row.row5.row-inline
        .form-group.formTitle
          =t('dentist.payment_and_information.payment_information')
      .row.row5.form-group
        = ff.label t('clinic.company_name'), :class => "normal pt15 col-xs-12 col-sm-4 col-lg-3"
        .col-xs-12.col-sm-8.col-lg-6
          = ff.text_field :company_name, :class => "form-control",:placeholder => t("clinic.company_name")
      .row.row5.form-group
        = ff.label t('clinic.company_id'), :class => "normal pt15 col-xs-12 col-sm-4 col-lg-3"
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :company_id, :class => "form-control",:placeholder => t("clinic.company_id")
      .row.row5.form-group
        = ff.label t('clinic.address'), :class => "normal pt15 col-xs-12 col-sm-4 col-lg-3"
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :company_address, :class => "form-control",:placeholder => t("clinic.address")
      .row.row5.form-group
        = ff.label t('clinic.post_number'), :class => "normal pt15 col-xs-12 col-sm-4 col-lg-3"
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :company_post_number, :class => "form-control virtualKeyboard",:placeholder => t("clinic.post_number")
      .row.row5.form-group
        = ff.label t('clinic.city'), :class => "normal pt15 col-xs-12 col-sm-4 col-lg-3"
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :company_city, :class => "form-control",:placeholder => t("clinic.city")
    .col-xs-12
      .hr
    .col-xs-12
      .row.row5.form-group
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :bank_name, :class => "form-control",:placeholder => t("clinic.bank_name")
        .col-xs-12.col-lg-6.col-sm-8
          %label.checkBox{:id => "has_billing_place_info_#{clinic_user.id}", :class => "has_billing_place_info"}
            = ff.check_box :has_billing_place_info, :class => "form-control"
            %span.lbl
              = t('dentist.payment_and_information.billing_place_information')
      .row.row5.form-group
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :bank_account_number, :class => "form-control",:placeholder => t("dentist.payment_and_information.bank_account_number")
        .col-xs-12.col-lg-3.col-sm-8
          = ff.text_field :dentist_name, :class => "form-control",:placeholder => t("dentist.payment_and_information.dentist_name"), :id => "dentist_name_#{clinic_user.id}", disabled: true
        .col-xs-12.col-lg-3.col-sm-8
          = ff.text_field :billing_place_number, :class => "form-control",:placeholder => t("dentist.payment_and_information.billing_place_number"), :id => "billing_place_number_#{clinic_user.id}", disabled: true
  - else
    .col-xs-12
      .row.row5.row-inline
        .form-group.formTitle
          =t('dentist.payment_and_information.account_and_payment_information')
    .col-xs-12
      .row.row5.form-group
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :bank_name, :class => "form-control",:placeholder => t("clinic.bank_name")
        .col-xs-12.col-lg-6.col-sm-8
          %label.checkBox{:id => "has_billing_place_info_#{clinic_user.id}", :class => "has_billing_place_info"}
            = ff.check_box :has_billing_place_info, :class => "form-control"
            %span.lbl
              = t('dentist.payment_and_information.billing_place_information')
      .row.row5.form-group
        .col-xs-12.col-lg-6.col-sm-8
          = ff.text_field :bank_account_number, :class => "form-control",:placeholder => t("dentist.payment_and_information.bank_account_number")
        .col-xs-12.col-lg-3.col-sm-8
          = ff.text_field :dentist_name, :class => "form-control",:placeholder => t("dentist.payment_and_information.dentist_name"), :id => "dentist_name_#{clinic_user.id}", disabled: true
        .col-xs-12.col-lg-3.col-sm-8
          = ff.text_field :billing_place_number, :class => "form-control",:placeholder => t("dentist.payment_and_information.billing_place_number"), :id => "billing_place_number_#{clinic_user.id}", disabled: true
          
