.row
  .col-xs-12
    .hr25
  .col-xs-12
    = render partial: 'shared/user_registration/dentist/reward_base_information', locals: {ff: ff, :clinic_user => clinic_user, :object => object}
  .col-xs-12
    .hr.hr25
  .col-xs-12
    = render partial: 'shared/user_registration/dentist/incentive_model_information', locals: {ff: ff, :clinic_user => clinic_user, :object => object}
  - unless object.dental_hygienist? or object.profession == "DENTAL_HYGIENIST"
    .row
      = render partial: 'shared/user_registration/dentist/additional_fee_information', locals:{ff: ff, :clinic_user => clinic_user, :object => object}
  - if object.dental_hygienist? and clinic_user.EMPLOYEE_MODEL?
    .col-xs-12
      .hr
    .col-xs-12
      .row.row5.row-inline
        .form-group.formTitle
          =t('dentist.payment_and_information.base_for_bonus')
    .col-xs-12
      #gender.form-group.row
        = ff.label  t("dentist.payment_and_information.rent_calculation_bonus"), :class => "normal col-xs-12 col-sm-2 col-lg-3"
        .col-xs-12.col-sm-8.col-lg-9
          %label.radioBox.radioInline
            = ff.radio_button :base_for_bonus, 'VALUE_OF_WORK_DONE'
            %span.lbl= t("dentist.payment_and_information.value_of_work_done")
          %label.radioBox.radioInline
            = ff.radio_button :base_for_bonus, 'VALUE_OF_INVOICED_WORK'
            %span.lbl= t("dentist.payment_and_information.value_of_invoiced_work")
.row
  = render partial: 'shared/user_registration/dentist/contract_information', locals: {ff: ff, :clinic_user => clinic_user, :object => object}