.row.row10
  .col-xs-12.col-md-6
    .card-row
      %label.label-view
        %span
          = t('executive.name')
      %label.label-value= object.name

  .col-xs-12.col-md-6
    .card-row
      %label.label-view
        %span= t('user.email')
      %label.label-value= object.email
    .card-row
      %label.label-view
        %span= t('user.phone_number')
      %label.label-value= object.token

.row.row10
  .col-xs-12
    .hr
  .col-xs-6
    .col-md-6.col-lg-12
      .form-group.row
        .col-xs-12.pt10.right-text
          - resource = object.resources['IMAGE::USER_PHOTO']
          = image_tag src="#{resource.media.url(:medium)}" if resource.present?