.col-xs-12
  .rxBox.rxBoxEvent
    .rxContent
      .row.row5
        .col-xs-12
          .row.row5
            .col-xs-12.col-sm-4
              .rxDesc
                %span
                  = "Invoice date"
                .rxValue
                  = customer_bill.invoice_date.to_datetime.to_s(:default_date) if customer_bill.invoice_date
              .rxDesc
                %span
                  = "Invoice Number"
                .rxValue
                  = customer_bill.invoice_number
              .rxDesc
                %span
                  = "Route"
                .rxValue
                  - customer_bill.customer_bill_products.each do |item|
                    = "From"
                    = item.from
                    = "TO"
                    = item.to

            .col-xs-12.col-sm-4
              .rxDesc
                %span
                  = "LR Number"
                .rxValue
                  = customer_bill.lr_number
              .rxDesc
                %span
                  = "Total amount"
                .rxValue
                  = customer_bill.total_amount
            .col-xs-12.col-sm-4
              %a.rxNextBtn{:href => customer_bill_path(customer_bill) }
                = "Open Bill"
                %i.fa.fa-angle-double-right                        