.col-xs-12
  - bg_color = customer_bill.payment_mode != "NONE" ? "darkturquoise" : ""
  - gst_color = (customer_bill.cgst > 0 || customer_bill.sgst > 0 || customer_bill.igst > 0) ? "darkseagreen" : bg_color
  .rxBox.rxBoxEvent{:style => "background: #{gst_color}"}
    .rxContent
      .row.row5
        .col-xs-12
          .row.row5
            .col-xs-12.col-sm-4
              .rxDesc
                %span
                  = "Customer Name"
                .rxValue
                  = customer_bill.customer.b_name
              .rxDesc
                %span
                  = "Invoice Number"
                .rxValue
                  = customer_bill.invoice_number
              .rxDesc
                %span
                  = "Route"
                .rxValue
                  - customer_bill.customer_bill_products.each do |item|
                    = "From"
                    = item.from
                    = "TO"
                    = item.to

            .col-xs-12.col-sm-2
              .rxDesc
                %span
                  = "Invoice date"
                .rxValue
                  = customer_bill.invoice_date.to_datetime.to_s(:default_date) if customer_bill.invoice_date
              .rxDesc
                %span
                  = "LR Number"
                .rxValue
                  = customer_bill.lr_number
            .col-xs-12.col-sm-2
              .rxDesc
                %span
                  = "Total amount"
                .rxValue
                  = customer_bill.total_amount
              - if customer_bill.payment_mode != "NONE" 
                .rxDesc
                  %span
                    = "Payment Mode"
                  .rxValue
                    = customer_bill.payment_mode
                .rxDesc
                  %span
                    = "Payment Date"
                  .rxValue
                    = customer_bill.payment_date.to_datetime.to_s(:default_date) if customer_bill.payment_date
            .col-xs-12.col-sm-4
              .col-xs-6
                %a.rxNextBtn.mt5{:href => customer_bill_path(customer_bill) }
                  = "Show Bill"
              .col-xs-6
                %a.rxNextBtn.mt5{:href => edit_customer_bill_path(customer_bill) }
                  = "Edit Bill"
              .col-xs-6
                %a.rxNextBtn.mt5{:href => print_invoice_pdf_path(customer_bill, format: 'pdf', without_image: "true") }
                  = "NO Logo"
              .col-xs-6
                %a.rxNextBtn.mt5{:href => print_invoice_pdf_path(customer_bill, format: 'pdf', with_manual_sign: "true") }
                  = "YES Logo"