.col-xs-12
  .rxBox.rxBoxEvent
    .rxContent
      .row.row5
        .col-xs-12
          .row.row5
            .col-xs-12.col-sm-4
              .rxDesc
                %span
                  = "Bill Date"
                .rxValue
                  = customer_bill.bill_date.to_datetime.to_s(:default_date) if customer_bill.bill_date
              .rxDesc
                %span
                  = "Bill Number"
                .rxValue
                  = customer_bill.bill_number
            .col-xs-12.col-sm-4
              .rxDesc
                %span
                  = "Total amount"
                .rxValue
                  = customer_bill.total_amount
              .rxDesc
                %span
                  = "Credited"
                .rxValue
                  = customer_bill.verified ? "Yes" : "No"                  
            .col-xs-12.col-sm-4      
              .rxDesc
                %span
                  = "Payments"
                .rxValue
                  - customer_bill.customer_bill_payments.each do |payment|
                    .rxDesc
                      %span
                        = payment.amount
                      .rxValue
                        = payment.payment_date.to_datetime.to_s(:default_date) if payment.payment_date
              %a.rxNextBtn{:href => customer_bill_path(customer_bill) }
                = "Open Bill"
                %i.fa.fa-angle-double-right                        