= form_for(@customer_bill, :url => (@customer_bill.new_record? ? customer_bills_path : customer_bill_path(@customer_bill)), :method => (@customer_bill.new_record? ? "POST" : "PUT"), :html => {:multipart => true, :id => 'register-customer-bill'}) do |f|
  = hidden_field_tag 'step', @step
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = "Create customer bill - " + (@customer_bill.new_record? ? @customer.name : @customer_bill.customer.name)
            .row
              .col-xs-12.col-sm-6
                = hidden_field_tag 'step', '1'
                - if @customer_bill.new_record?
                  = f.hidden_field :customer_id, :value => session[:bill_customer]
                - else
                  = f.hidden_field :customer_id
                #invoice_number.form-group
                  = f.text_field :invoice_number, :class => "form-control",:placeholder => "Invoice number"
                  - if @customer_bill.errors[:invoice_number].any?
                    %span.text-error.text-message= @customer_bill.errors[:invoice_number].first
                #lr_number.form-group
                  = f.text_field :lr_number, :class => "form-control",:placeholder => "LR number"
                  - if @customer_bill.errors[:lr_number].any?
                    %span.text-error.text-message= @customer_bill.errors[:lr_number].first
                #invoice_date.form-group
                  .inputGroup
                    = f.text_field :invoice_date, :value => (@customer_bill.invoice_date.present? ? @customer_bill.invoice_date.to_datetime.to_s(:default_date) : (Time.now).to_datetime.to_s(:default_date)), :class => "form-control", :readonly => true, :placeholder => "Invoice date"
                    .inputAddons.iconRight
                      %i.fa.fa-calendar
                  - if @customer_bill.errors[:invoice_date].any?
                    %span.text-error.text-message= @customer_bill.errors[:invoice_date].first

                .col-xs-12
                  .row
                    %hr
                %h4
                  = "Items"                          
                - if @customer_bill.errors["customer_bill_products"].any?
                  %div.text-error.text-message
                    = t("data_invalid_or_required")
                #customer_bill_products
                  = f.fields_for :customer_bill_products do |customer_bill_product|
                    = render 'customer_bill_product_fields', f: customer_bill_product
                  .links
                    = link_to_add_association f, :customer_bill_products, :class => "addLink" do
                      %i.addIcon
                      = "Add Item"
                .col-xs-12
                  .row
                    %hr
                %h4
                  = "Total bill amount"      
                #total_amount.form-group
                  = f.text_field :total_amount, :class => "form-control", :placeholder => "Bill amount"
                  - if @customer_bill.errors[:total_amount].any?
                    %span.text-error.text-message= @customer_bill.errors[:total_amount].first


        %td.stepBtnGroup{:width => "20%"}
          - back_btn_href = @customer_bill.new_record? ? customer_bills_path : customer_bill_path(@customer_bill.id)
          %a.stepBtn.backBtn{:href => back_btn_href}
            %span
              =t("form_action_button.return_button")
            = image_tag "back_btn.png", :class => "mt15"
          %button.stepBtn.nextBtn#saveMediaNext{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.save_and_next_button")
            = image_tag "save_and_next_btn.png", :class => "mt15"

