.container
  .row
    .col-xs-12#registration-form
      %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td#stepBtnHeight.leftCol{:width => "80%"}
              .formBox.view-details
                .formHeader.clearfix
                  %h1
                    = "Customer bill card - " + @customer_bill.customer.name
                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = "Bill number"
                      %label.label-value= @customer_bill.bill_number
                    .card-row
                      %label.label-view
                        %span
                          = "Bill date"
                      %label.label-value
                        = @customer_bill.bill_date.to_datetime.to_s(:default_date) if @customer_bill.bill_date
                    .card-row
                      %label.label-view
                        %span
                          = "Total amount"
                      %label.label-value
                        = @customer_bill.total_amount
                    .card-row
                      %label.label-view
                        %span
                          = "Credited"
                      %label.label-value
                        = @customer_bill.verified ? "Yes" : "No"

                .row.row10
                  .col-xs-12
                    .hr.h25
                  .col-xs-12
                    .form-group.formTitle
                      = "Items"
                  - @customer_bill.customer_bill_products.each do |bill_product|
                    .col-xs-12.form-group
                      .col-xs-12.col-md-6
                        .row    
                          .card-row
                            %label.label-view
                              %span
                                = "Item"
                            %label.label-value
                              = bill_product.product.name
                          .card-row
                            %label.label-view
                              %span
                                = "Bag type"
                            %label.label-value
                              = bill_product.bag_type
                      .col-xs-12.col-md-6
                        .row                              
                          .card-row                              
                            %label.label-view
                              %span
                                = "Bags"
                            %label.label-value
                              = bill_product.bags
                          .card-row                              
                            %label.label-view
                              %span
                                = "Quantity"
                            %label.label-value
                              = bill_product.quantity
                          .card-row                              
                            %label.label-view
                              %span
                                = "Rate"
                            %label.label-value
                              = bill_product.rate

                .row.row10
                  .col-xs-12
                    .hr.h25
                  .col-xs-12
                    .form-group.formTitle
                      = "Payments"
                  - @customer_bill.customer_bill_payments.order('payment_date DESC').each do |payment|
                    .col-xs-12.form-group
                      .col-xs-12.col-md-6
                        .row    
                          .card-row
                            %label.label-view
                              %span
                                = "Amount"
                            %label.label-value
                              = payment.amount
                      .col-xs-12.col-md-6
                        .row                              
                          .card-row
                            %label.label-view
                              %span
                                = "Payment date"
                            %label.label-value
                              = payment.payment_date.to_datetime.to_s(:default_date) if payment.payment_date                              

          %td.stepBtnGroup{:width => "20%"}
            %a.h15.stepBtn.backBtn{:href => customer_bills_path}
              %span= t("form_action_button.return_button")
              = image_tag "back_btn.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{:href => edit_customer_bill_path(@customer_bill, :step => 1), :action => :open_card_param }
              %span= t("form_action_button.edit_basic_information")
              = image_tag "save_and_next_btn.png", :class => "mt15"