.container
  .row
    .modal.fade{:id => "SendInvoiceToAccountant", :class => "SendInvoiceToAccountant", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => "emails/form_send_invoice_to_accountant_via_email", :locals => {:object => @customer_bill}
    .col-xs-12#registration-form
      %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td#stepBtnHeight.leftCol{:width => "80%"}
              .formBox.view-details
                .formHeader.clearfix
                  %h1
                    = "Customer bill card - " + @customer_bill.customer.b_name
                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = "Invoice number"
                      %label.label-value= @customer_bill.invoice_number
                    .card-row
                      %label.label-view
                        %span
                          = "Invoice date"
                      %label.label-value
                        = @customer_bill.invoice_date.to_datetime.to_s(:default_date) if @customer_bill.invoice_date
                    .card-row
                      %label.label-view
                        %span
                          = "L R number"
                      %label.label-value= @customer_bill.lr_number
                    .card-row
                      %label.label-view
                        %span
                          = "L R date"
                      %label.label-value
                        = @customer_bill.lr_date.to_datetime.to_s(:default_date) if @customer_bill.lr_date
                    .card-row
                      %label.label-view
                        %span
                          = "Total amount"
                      %label.label-value
                        = @customer_bill.total_amount
                .row.row10
                  .col-xs-12
                    .hr.h25
                  .col-xs-12
                    .form-group.formTitle
                      = "Items"
                  - @customer_bill.customer_bill_products.each do |bill_product|
                    .col-xs-12.form-group
                      .col-xs-12.col-md-6
                        .row    
                          .card-row
                            %label.label-view
                              %span
                                = "Ref Invoice Number"
                            %label.label-value
                              = bill_product.ref_invoice_number
                          .card-row                              
                            %label.label-view
                              %span
                                = "From"
                            %label.label-value
                              = bill_product.from
                          .card-row                              
                            %label.label-view
                              %span
                                = "To"
                            %label.label-value
                              = bill_product.to
                      .col-xs-12.col-md-6
                        .row                              
                          .card-row                              
                            %label.label-view
                              %span
                                = "Quantity"
                            %label.label-value
                              = bill_product.quantity
                          .card-row
                            %label.label-view
                              %span
                                = "Vehical number"
                            %label.label-value
                              = bill_product.vehical_number
                          .card-row                              
                            %label.label-view
                              %span
                                = "Rate"
                            %label.label-value
                              = bill_product.rate
                .row.row10
                  .col-xs-12
                    %h3
                      = "Billing Address"
                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = t('customer.name')
                      %label.label-value= @customer_bill.customer.b_name
                    .card-row
                      %label.label-view
                        %span= t('user.address')
                      %label.label-value= @customer_bill.customer.b_address.present? ? @customer_bill.customer.b_address : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.city')
                      %label.label-value= @customer_bill.customer.b_city.present? ? @customer_bill.customer.b_city : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.state')
                      %label.label-value= @customer_bill.customer.b_state.present? ? @customer_bill.customer.b_state : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.state_code')
                      %label.label-value= @customer_bill.customer.b_state_code.present? ? @customer_bill.customer.b_state_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.pin_code')
                      %label.label-value= @customer_bill.customer.b_pin_code.present? ? @customer_bill.customer.b_pin_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.country')
                      %label.label-value= @customer_bill.customer.b_country.present? ? @customer_bill.customer.b_country : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.gst_number')
                      %label.label-value= @customer_bill.customer.b_gst_number.present? ? @customer_bill.customer.b_gst_number : '-'
                .row.row10
                  .col-xs-12
                    %h3
                      = "Shipping Address"
                .row.row10
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span
                          = t('customer.name')
                      %label.label-value= @customer_bill.customer.s_name
                    .card-row
                      %label.label-view
                        %span= t('user.address')
                      %label.label-value= @customer_bill.customer.s_address.present? ? @customer_bill.customer.s_address : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.city')
                      %label.label-value= @customer_bill.customer.s_city.present? ? @customer_bill.customer.s_city : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.state')
                      %label.label-value= @customer_bill.customer.s_state.present? ? @customer_bill.customer.s_state : '-'
                  .col-xs-12.col-md-6
                    .card-row
                      %label.label-view
                        %span= t('user.state_code')
                      %label.label-value= @customer_bill.customer.s_state_code.present? ? @customer_bill.customer.s_state_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.pin_code')
                      %label.label-value= @customer_bill.customer.s_pin_code.present? ? @customer_bill.customer.s_pin_code : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.country')
                      %label.label-value= @customer_bill.customer.s_country.present? ? @customer_bill.customer.s_country : '-'
                    .card-row
                      %label.label-view
                        %span= t('user.gst_number')
                      %label.label-value= @customer_bill.customer.s_gst_number.present? ? @customer_bill.customer.gst_number : '-'

          %td.stepBtnGroup{:width => "20%"}
            %a.h15.stepBtn.backBtn{:href => customer_bills_path}
              %span= t("form_action_button.return_button")
              = image_tag "back_btn.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{:href => edit_customer_bill_path(@customer_bill, :step => 1), :action => :open_card_param }
              %span= t("form_action_button.edit_basic_information")
              = image_tag "save_and_next_btn.png", :class => "mt15"
            = link_to print_invoice_pdf_path(@customer_bill.id, format: 'html'), class: "h15 stepBtn nextBtn" do
              %span
                = t("form_action_button.view invoice pdf")
              = image_tag "print_profile.png", :class => "mt15"
            = link_to print_invoice_pdf_path(@customer_bill.id, format: 'pdf', without_image: "true"), class: "h15 stepBtn nextBtn" do
              %span
                = t("form_action_button.print invoice pdf")
              = image_tag "print_profile.png", :class => "mt15"
            %a.h15.stepBtn.nextBtn{"data-target" => "#SendInvoiceToAccountant", "data-toggle" => "modal"}
              .flexCol.dib.w100p
                %div
                  = t('send_bills.send_invoice_information_to_accountant').html_safe
