= form_for(@customer_bill_product, :url => (@customer_bill_product.new_record? ? customer_bill_products_path : customer_bill_product_path(@customer_bill_product)), :method => (@customer_bill_product.new_record? ? "POST" : "PUT"), :html => {:multipart => true, :id => 'customer_bill_product-form'}) do |f|
  = hidden_field_tag 'step', @step
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("customer_bill_product.register_customer_bill_product")
            .row
              .col-xs-12.col-sm-6
                = hidden_field_tag 'step', '1'
                #name.form-group
                  = f.text_field :name, :class => "form-control",:placeholder => "Firm name"
                  - if @customer_bill_product.errors[:name].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:name].first
                #person_name.form-group
                  = f.text_field :person_name, :class => "form-control", :placeholder => "Person name"
                  - if @customer_bill_product.errors[:person_name].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:person_name].first
                #mobile_number1.form-group
                  = f.text_field :mobile_number1, :class => "form-control", :placeholder => "Mobile number 1"
                  - if @customer_bill_product.errors[:mobile_number1].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:mobile_number1].first
                #mobile_number2.form-group
                  = f.text_field :mobile_number2, :class => "form-control", :placeholder => "Mobile number 2"
                  - if @customer_bill_product.errors[:mobile_number2].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:mobile_number2].first        
                #gst_number.form-group
                  = f.text_field :gst_number, :class => "form-control", :placeholder => "Mobile number 3"
                  - if @customer_bill_product.errors[:gst_number].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:gst_number].first
                #address.form-group
                  = f.text_field :address, :class => "form-control", :placeholder => "Address"
                  - if @customer_bill_product.errors[:address].any?
                    %span.text-error.text-message= @customer_bill_product.errors[:address].first

        %td.stepBtnGroup{:width => "20%"}
          - back_btn_href = @customer_bill_product.new_record? ? customer_bill_products_path : customer_bill_product_path(@customer_bill_product.id)
          %a.stepBtn.backBtn{:href => back_btn_href}
            %span
              =t("form_action_button.return_button")
            = image_tag "back_btn.png", :class => "mt15"
          %button.stepBtn.nextBtn#saveMedia{:name => "save", :type => "submit"}
            %span=t("form_action_button.save_button")
            = image_tag "save_btn.png", :class => "mt15"
          - unless session[:open_card]
            %button.stepBtn.nextBtn#saveMediaNext{:name => "proceed_next", :type => "submit"}
              %span
                = t("form_action_button.save_and_next_button")
              = image_tag "save_and_next_btn.png", :class => "mt15"

