.col-xs-12.col-sm-6.col-md-4.col-10
  .rxBox
    .rxHeader
      .rxTitle= executive.name
      .rxLogo
        = image_tag @executives_resources_url[executive.id]
    .rxContent
      .row.row5
        .col-xs-12
          .rxDesc
            %span= t('executive.phone_number')
            .rxValue= executive.token
        .col-xs-12
          .rxDesc
            %span= t('executive.first_name')
            .rxValue= executive.first_name
        .col-xs-12.col-sm-6
          .rxDesc
            %span= t('executive.last_name')
            .rxValue= executive.last_name
        .col-xs-12.col-sm-6
          .rxDesc
            %span= t('general.change')
            .rxValue
              %a.rxIconText{:href => user_edit_password_user_index_path(executive.id) }
                = t('general.password')
    .rxBottom
      %a.rxNextBtn{:href => executive_path(executive) }
        = t("executive.open_card")
        %i.fa.fa-angle-double-right