.container
  .page-title
    %h1
      .title-logo
        = image_tag @current_brand.logo.url, :width => "115"
  .row.row-10
    .col-xs-12.col-sm-4
      %a.toolBox{:href => executives_path}
        .toolImage= image_tag "dbm_business_management.png"
        .toolTitle= "Users"

    .col-xs-12.col-sm-4
      %a.toolBox{:href => customers_path}
        .toolImage= image_tag "dbm_business_management.png"
        .toolTitle= "Customers"

    .col-xs-12.col-sm-4
      %a.toolBox{:href => providers_path}
        .toolImage= image_tag "dbm_business_management.png"
        .toolTitle= "Suppliers"