!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Madhav Corporation - Wholesale Peanuts India

    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag 'desktop', media: 'all'
    = csrf_meta_tags

  %body#page-top
    / Navigation
    %a.menu-toggle.rounded{:href => "#"}
      %i.fa.fa-bars
    %nav#sidebar-wrapper
      %ul.sidebar-nav
        %li.sidebar-brand
          %a.js-scroll-trigger{:href => "#page-top"} Shiv Shakti
        %li.sidebar-nav-item
          %a.js-scroll-trigger{:href => "#page-top"} Home
        %li.sidebar-nav-item
          %a.js-scroll-trigger{:href => "#about"} About
        %li.sidebar-nav-item
          %a.js-scroll-trigger{:href => "#services"} Services
        %li.sidebar-nav-item
          %a.js-scroll-trigger{:href => "#portfolio"} Gallery
        %li.sidebar-nav-item
          %a.js-scroll-trigger{:href => "#contact"} Contact
    / Header
    %header.masthead.d-flex
      .container.text-center.my-auto
        %section.content-section.bg-primary1.text-white
          %h1.mb-1 Shiv Shakti Transport Co.
          %h3.mb-5
            %em Specialist for full load & part load All over India.
      .overlay
    / About
    %section#about.content-section.bg-light
      .container.text-center
        .row
          .col-lg-10.mx-auto
            %h2 We <a href="javascript:void(0);"><i><u>Shiv Shakti Transport Co.</u></i></a> is a leading firm founded in the year 2005.
            %p.lead.mb-5
              We Provide One Stop Logistic & Warehousing Services. We offer a Global Logistics Network with our worldwide offices and also high quality distribution facilities which are staffed by dedicated teams of the top of experts. We have more than 15 years of experiences in this field.
              = succeed "!" do
                %a{:href => "javascript:void(0);"}  Guaranteed by more than a hundred awards
      .container.text-center
        %h2.mb-4 !---Why Us---!
        Fast Service
        %br
        Safe Delivery
        %br
        24/7 Support
    / Services
    %section#services.content-section.bg-primary.text-white.text-center
      .container
        .content-section-heading
          %h3.text-secondary.mb-0
          %h2.mb-5 !---We glad to offer---!
        .row
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            %span.service-icon.rounded-circle.mx-auto.mb-3
              %i.icon-screen-smartphone
            %h4
              %strong Contribute positively 
            %p.text-faded.mb-0 to our communities and our environment.
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            %span.service-icon.rounded-circle.mx-auto.mb-3
              %i.icon-pencil
            %h4
              %strong Apply the highest 
            %p.text-faded.mb-0 standards of excellence to the fresh delivery of our nuts.
          .col-lg-3.col-md-6.mb-5.mb-md-0
            %span.service-icon.rounded-circle.mx-auto.mb-3
              %i.icon-like
            %h4
              %strong Develop 
            %p.text-faded.mb-0
              enthusiastically satisfied customers all of the time.
              %i.fa.fa-heart
              Contact Us!
          .col-lg-3.col-md-6
            %span.service-icon.rounded-circle.mx-auto.mb-3
              %i.icon-mustache
            %h4
              %strong Our Vission
            %p.text-faded.mb-0 Service is our motto!...
    / Callout
    %section.callout
      .container.text-center
        %section.content-section.bg-primary1.text-white
          %h2.mx-auto.mb-5
            With years of
            %em experience and knowledge
          %h4
            in this market, we are engaged in offering Provide Best Service Across The Globe.
    / Portfolio
    %section#portfolio.content-section
      .container
        .content-section-heading.text-center
          %h3.text-secondary.mb-0 !---Gallery---!
          %h2.mb-5
        .row.no-gutters
          .col-lg-6
            %a.portfolio-item{:href => "#"}
              %span.caption
                %span.caption-content
                  / %h2 Peanut
                  / %p.mb-0 Seeds!
              = image_tag("img/tra1.jpg", :class => "img-fluid")
          .col-lg-6
            %a.portfolio-item{:href => "#"}
              %span.caption
                %span.caption-content
                  / %h2 Peanut
                  / %p.mb-0 Seeds!
              = image_tag("img/tra2.jpg", :class => "img-fluid")
          .col-lg-6
            %a.portfolio-item{:href => "#"}
              %span.caption
                %span.caption-content
                  / %h2 Peanuts
                  / %p.mb-0 Mungfali!
              = image_tag("img/tra3.jpg", :class => "img-fluid")
          .col-lg-6
            %a.portfolio-item{:href => "#"}
              %span.caption
                %span.caption-content
                  / %h2 Dried
                  / %p.mb-0 Peanuts!.
              = image_tag("img/tra5.jpg", :class => "img-fluid")
    / Call to Action
    %section#contact.content-section.bg-primary.text-white
      .container.text-center
        %h2.mb-4 !---Shiv Shakti Transpot Co.---!
        %hr
        %h5.mb-4
          1, Ghansyampark Society, Nr.S.P Ring Road Circle,
          Aslali,Ahmedabad-382427
          %br
          %br
          Contact Number:
          %br
          %a.text-white{:href => "tel:+919825588110"}
            Rajan Patel : +91 982 5588 110
          %br
          %a.text-white{:href => "tel:+919824543817"}
            Maulik Patel : +91 982 4543 817
          %br
          %br
          Contact Email:
          %a.text-white{:href => "mail:shiv.shaktiahm@gmail.com"}
            shiv.shaktiahm@gmail.com
          %br
          %br
          %a.text-white{:href => "#"}
            Contact Person: 
          %br
          Rajan Patel
          %br
          Maulik Patel
          
    / Map
    .map
      %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?q=ghansyam%20park%20society%20aslali&t=&z=13&ie=UTF8&iwloc=&output=embed", :width => "100%"}
      %br/
      %small
        %a{:href => "https://maps.google.com/maps?q=ghansyam%20park%20society%20aslali&t=&z=13&ie=UTF8&iwloc=&output=embed"}
    / Footer
    %footer.footer.text-center
      .container
        / %ul.list-inline.mb-5
        /   %li.list-inline-item
        /     %a.social-link.rounded-circle.text-white.mr-3{:href => "#"}
        /       %i.icon-social-facebook
        /   %li.list-inline-item
        /     %a.social-link.rounded-circle.text-white.mr-3{:href => "#"}
        /       %i.icon-social-twitter
        /   %li.list-inline-item
        /     %a.social-link.rounded-circle.text-white{:href => "#"}
        /       %i.icon-social-github
        %p.text-muted.small.mb-0 Copyright © Shiv Shakti Transport Co 2019
    / Scroll to Top Button
    %a.scroll-to-top.rounded.js-scroll-trigger{:href => "#page-top"}
      %i.fa.fa-angle-up

    = javascript_include_tag 'desktop', media: 'all'